$black: hsl(0, 0%, 4%);
$white: hsl(0, 0%, 100%);

$blue: hsl(213, 74%, 48%);
$green: hsl(97, 74%, 48%);
$yellow: hsl(59, 74%, 48%);
$red: hsl(3, 74%, 48%);

$primary: $blue;
$secondary: $green;

$color-silver: #e0e1e1;

$color-text: rgba(0,0,0,0.8);
$color-link: $primary;

$color-link-hover: darken($primary, 10);

$color-table: $color-text;

$color-table-background: $white;
