.m-px {
  margin: 1px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: .75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-12 {
  margin: 3rem;
}

.m-16 {
  margin: 4rem;
}

.m-20 {
  margin: 5rem;
}

.m-24 {
  margin: 6rem;
}

.mt-px {
  margin-top: 1px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mb-px {
  margin-bottom: 1px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.ml-px {
  margin-left: 1px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-3 {
  margin-left: .75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-24 {
  margin-left: 6rem;
}

.mr-px {
  margin-right: 1px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: .25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-16 {
  margin-right: 4rem;
}

.mr-20 {
  margin-right: 5rem;
}

.mr-24 {
  margin-right: 6rem;
}

.mv-px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mv-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mv-3 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.mv-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mv-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mv-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mv-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.mv-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mv-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mv-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mv-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mv-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mh-px {
  margin-left: 1px;
  margin-right: 1px;
}

.mh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mh-1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.mh-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mh-3 {
  margin-left: .75rem;
  margin-right: .75rem;
}

.mh-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mh-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mh-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mh-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mh-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mh-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mh-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mh-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mh-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}
