$font-size: 16px;
$baseline: 24px;
$text-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grid-columns: 12;
$grid-gutter: 2%;

$tablet: 48em;
$desktop: 62em;
$widescreen: 75em;
$fullhd: 85em;
