.group {
    display: block;
    @include respond-to(small) {
        display: flex;
        justify-content: space-between;
    }
}

.group-left {
    text-align: center;
    @include respond-to(small) {
        text-align: left;
    }
}

.group-center {
    text-align: center;
}

.group-right {
    text-align: center;
    @include respond-to(small) {
        text-align: right;
    }
}
