.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  &.is-secondary {
    a {
      color: $secondary;
    }
  }
}

.nav-left {
  flex: 1 0 auto;
  text-align: left;
  align-self: flex-start;
}

.nav-center {
  flex: 1 0 auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-right {
  flex: 1 0 auto;
  text-align: right;
}
